## Index Slicing

In [1]:
a="Hania Hammad"
a

'Hania Hammad'

In [2]:
a[0]

'H'

In [3]:
len(a) #To find the length of string or variable

12

In [4]:
a[12] # 0-11 is 12 characters so the 12 is out of range string character

IndexError: string index out of range

In [5]:
a[11] #Last item or character or string

'd'

In [6]:
a[-1] #-1 is same as 11

'd'

In [7]:
a[0:7] #index slicing

'Hania H'

In [8]:
a[:7] #Nill character means from the start

'Hania H'

In [9]:
a[0:12] # 0 is included and 12 is excluding from the output for slicing

'Hania Hammad'

In [10]:
a[0:] # Start from 0 to the end :

'Hania Hammad'

In [11]:
a[-1:-7] # Wrong statement ##String slice of negative starts from right -1 to onwards to the left side
## String negative count always starts from left to right (like english) a[-7:-1] is RIGHT statement

''

In [12]:
a[-7:-1] #Here -1 location is excluding and d is missing from Hammad

' Hamma'

In [13]:
#We calculate legth first to tacle above issue
len(a) #0-11 means 12 is the legth

12

In [14]:
a[-7:12] #-7 is the start and we find the legth first and replaces -1 with 12 to get Hammad OUTPUT

' Hammad'

## String Methods

In [15]:
b="banana"

In [16]:
b.capitalize()

'Banana'

In [17]:
b.casefold() #More research needed on this one

'banana'

In [18]:
b.count("a") #count the a string in banana

3

In [19]:
b.upper()

'BANANA'

In [20]:
b.endswith("n")

False

In [21]:
b.endswith("a")

True

In [22]:
b.find("a") #Tells us the location or index number of the item Indexing from 0-onwards

1

In [23]:
b.replace("b","Z")

'Zanana'

In [24]:
c="Banana, Kino, Mango, Apple, Grapes, Guava, Falsa"   # It splits on the basis of "," string
c.split(",")

['Banana', ' Kino', ' Mango', ' Apple', ' Grapes', ' Guava', ' Falsa']

## Basic Data Structure in Python
### 1. Tuple
### 2. List
### 3. Dictionaries
### 4. Set

## 1 - Tuple
- Ordered collection of elements (String, Integer, Float, Boolean)
- Enclosed in ( ) round braces
- Different kind of elements can be stored
- Once elements are stored we can't change them (UNMUTABLE) Can't use replace function

In [2]:
tup1=("python", 1, True, 3.1) #Different type of elements in tuple
tup1

('python', 1, True, 3.1)

In [3]:
type(tup1)

tuple

## Indexing in Tuple

In [6]:
tup1[0]

'python'

In [7]:
tup1[3]

3.1

In [8]:
tup1[2]

True

In [9]:
tup1[0:3] # 3 is excluded from the tuple # 0 is included in the tuple

('python', 1, True)

In [10]:
tup1[0:4]

('python', 1, True, 3.1)

In [11]:
len(tup1) #Number of elements in tup1

4

In [12]:
tup2=("Pycharm", False, 10, 3.1)
tup1 + tup2 # Tuple concatenation of tuples

('python', 1, True, 3.1, 'Pycharm', False, 10, 3.1)

In [13]:
tup1*2 + tup2 # Tuple 1 multiplied by 2 that means 2 times tup1

('python', 1, True, 3.1, 'python', 1, True, 3.1, 'Pycharm', False, 10, 3.1)

In [14]:
tup3=(10, 300, 4000, 600000, 88888888)
tup3

(10, 300, 4000, 600000, 88888888)

In [15]:
min(tup3) #Minimum of tuple 3

10

In [16]:
max(tup3) #Maximum of tuple 3

88888888

In [17]:
tup3 * 2 # 2 times tup3 not simple multiply

(10, 300, 4000, 600000, 88888888, 10, 300, 4000, 600000, 88888888)

---

## 2 - List
- Ordered collection of elements (String, Integer, Float, Boolean)
- Enclosed in [] parenthsis
- Mutable - you can change the values

In [19]:
list1=["python", 1, True, 3.1]
list1

['python', 1, True, 3.1]

In [20]:
type(list1)

list

In [21]:
len(list1)

4

In [22]:
list1[0]

'python'

In [25]:
list1[0:4] # 0 included and 4 excluding

['python', 1, True, 3.1]

In [26]:
list2=[3,6, "Hammad", 55.5, False, 3, 220, "Hania"]
list2

[3, 6, 'Hammad', 55.5, False, 3, 220, 'Hania']

In [27]:
list1 + list2 # Concatenation of list 1 and 2

['python', 1, True, 3.1, 3, 6, 'Hammad', 55.5, False, 3, 220, 'Hania']

In [29]:
list2 *2 # Repeat of list 2 times

[3,
 6,
 'Hammad',
 55.5,
 False,
 3,
 220,
 'Hania',
 3,
 6,
 'Hammad',
 55.5,
 False,
 3,
 220,
 'Hania']

In [38]:
list2.append("Marrium") #Appending "Marrium in list2"
list2

[3, 6, 'Hammad', 55.5, False, 3, 220, 'Hania', 'Marrium']

In [39]:
list2.remove("Marrium") #Removing "Marrium from list2"
list2

[3, 6, 'Hammad', 55.5, False, 3, 220, 'Hania']

In [40]:
list2.clear() # It will empty the list
list2

[]

In [41]:
list2=[3,6, "Hammad", 55.5, False, 3, 220, "Hania"]
list2

[3, 6, 'Hammad', 55.5, False, 3, 220, 'Hania']

In [48]:
list2.count(3)

2

In [54]:
list2.extend("3") #'int' object is not iterable # extend only string?
list2

[3, 6, 'Hammad', 55.5, False, 3, 220, 'Hania', '3', '3', '3']

In [55]:
list2.index(55.5) #Shows index location of 55.5

3

In [61]:
list2.insert(0,3)
list2

[3, 3, 6, 'Hammad', 3, 55.5, False, 3, 220, 'Hania', '3', '3', '3', 3, 3, 3]

In [64]:
list2.reverse()
list2

[3, 3, 3, '3', '3', '3', 'Hania', 220, 3, False, 55.5, 3, 'Hammad', 6, 3, 3]

In [65]:
list2.sort() #only applies to integers

TypeError: '<' not supported between instances of 'str' and 'int'

## 3 - Dictionary
- unordered collection of elements
- key and values
- Curly braces {}
- Mutable or change the values

In [66]:
dict1={"Cake":1500, "Pasta":300, "Coke":100, "Ice Cream":90} # "Key" : Values
dict1

{'Cake': 1500, 'Pasta': 300, 'Coke': 100, 'Ice Cream': 90}

In [68]:
keys1=dict1.keys() #Separate output of keys of dict1
keys1

dict_keys(['Cake', 'Pasta', 'Coke', 'Ice Cream'])

In [69]:
values1=dict1.values() #Separate output of values of dict1
values1

dict_values([1500, 300, 100, 90])

### Adding an element or key-values in the dict1

In [70]:
dict1["Biscuit"]=600     #That's how we update the dict1 #Mutated now
dict1

{'Cake': 1500, 'Pasta': 300, 'Coke': 100, 'Ice Cream': 90, 'Biscuit': 600}

**Update the values**

In [72]:
dict1["Cake"]=2000 #Updating the Values
dict1

{'Cake': 2000, 'Pasta': 300, 'Coke': 100, 'Ice Cream': 90, 'Biscuit': 600}

In [82]:
dict2={"Lays":50, "Kurkury":30} #Concatenate done using update()
dict1.update(dict2)
dict1

{'Cake': 2000,
 'Pasta': 300,
 'Coke': 100,
 'Ice Cream': 90,
 'Biscuit': 600,
 'GGGG': 2000,
 'Lays': 50,
 'Kurkury': 30}

## 3 - Sets
- unordered and un indexed
- curly brasis use
- no duplicates allowed

In [105]:
s1={2.3, "Hammad", True, True, False} # True == 1 and False == 0
s1

{2.3, False, 'Hammad', True}

In [106]:
s1.add("Hania Hammad") #Adding a string or element
s1

{2.3, False, 'Hammad', 'Hania Hammad', True}

In [111]:
s2={2.3, 44, "Hania Hammad", 1, 0}
s2

{0, 1, 2.3, 44, 'Hania Hammad'}

In [112]:
s1.intersection(s2)

{0, 1, 2.3, 'Hania Hammad'}

In [113]:
s1.union(s2)

{2.3, 44, False, 'Hammad', 'Hania Hammad', True}

In [114]:
s1.isdisjoint(s2)

False